h1 {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    position: relative;
    font-family: neusa-next-std-wide, sans-serif;
    width: 100%;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    right: 10px;
    top: -25px;
    color: #EFEFEF;
}



#HERO-TITLE-TEXT {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    position: relative;
    font-family: neusa-next-std-wide, sans-serif;
    width: 100%;
    font-weight: 700;
    font-style: normal;
    margin: 0px;
    font-size: clamp(3em, 2.95vw, 6em);
    line-height: 1em;
    right: 0.5px;
    top: -12.5px;

    color: #EFEFEF;
}














h3 {
    position: relative;
    font-family: neusa-next-std-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(1.5em, 1.5vw, 3em);
    margin-top: 0px;
    margin-bottom: 0px;
    top: -5px;
    color: #EFEFEF;
}


h4 {
    position: relative;
    font-family: neusa-next-std-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    top: -5px;
    color: #EFEFEF;
}



h5 {
    position: relative;
    font-family: neusa-next-std-wide, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    font-size: clamp(1em, 2.75vw, 1.075em);
    line-height: 25px;
    top: -5px;
    color: #EFEFEF;
}


.side-text {
    display: inline-block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding-left: 50px;
    color: antiquewhite;
}










.icons-holder{
    height: 100%;
    width: 100%;
}

#GH{
    height: 100%;
    width: 100%;
}

#LI{
    height: 100%;
    width: 100%;
}

#YT{
    height: 100%;
    width: 100%;
}

#DR{
    height: 100%;
    width: 100%;
}




.fa-brands {
    font-size: 3.25rem;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

