/* FOOTER---------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/



/*
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */




/* ---------------------------------------------------------------------------------------*/
body {

    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
}


.wrapper {
    width: 100vw;
    height: auto;
}


.scroller::-webkit-scrollbar {
    width: 0px;
    height: 16px;
}


.scroller {
    scrollbar-width: none;
    position: absolute;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}


.center-holder {
    width: 100%;
    display: flex;

    -webkit-box-pack: center;
    justify-content: center;
    background-color: #2e2e2e;
    margin: 0;
}



.footer-holder {
    position: relative;
    width: 100%;
    max-width: 1960px;
    background-color: #2e2e2e;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: 100px auto;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: ". . ."
        "BANNER-1 MAIN-AREA BANNER-2";
}


#SHADOW-SECTION {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #2e2e2e;
    margin: 0;
}


#FOOTER {
    grid-area: MAIN-AREA;
    width: 100%;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "IPHONE IPHONE IPHONE IPHONE IPHONE OTHER OTHER OTHER";
}


#PFBD {
    grid-area: PFBD;
    display: grid;
    width: 100%;
    height: 670px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "PFBD  TITLE"
        "PFBD INSTAGRAM"
        "PFBD INSTAGRAM";
}


#IPHONE {
    grid-area: IPHONE;
    width: 100%;
    height: 500px;
    background-color: rgb(255, 191, 106);
}


#OTHER {
    grid-area: OTHER;
    display: grid;
    width: 100%;
    height: 100%;
    grid-row-gap: 40px;
    grid-template-rows: auto 40px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . ."
            ". SOCIAL SOCIAL SOCIAL";
}

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/








/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 960px) and (max-width: 1280px) {
    body {

        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        margin-top: 0;
        margin-left: 0;
    }


    .wrapper {
        width: 100vw;
        height: auto;
    }


    .scroller::-webkit-scrollbar {
        width: 0px;
        height: 16px;
    }


    .scroller {
        scrollbar-width: none;
        position: absolute;
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
    }


    .center-holder {
        width: 100%;
        display: flex;

        -webkit-box-pack: center;
        justify-content: center;
        background-color: #2e2e2e;
        margin: 0;
    }


    .footer-holder {
        position: relative;
        width: 100%;
        max-width: 1760px;
        background-color: #2e2e2e;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-rows: 100px auto;
        grid-template-columns: 0px 1fr 0px;
        grid-template-areas: ". . ."
                "BANNER-1 MAIN-AREA BANNER-2";
    }




    #SHADOW-SECTION {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: #2e2e2e;
        margin: 0;
    }


    #FOOTER {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "IPHONE IPHONE IPHONE IPHONE IPHONE OTHER OTHER OTHER";
    }


    #PFBD {
        grid-area: PFBD;
        display: grid;
        width: 100%;
        height: 670px;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "PFBD  TITLE"
            "PFBD INSTAGRAM"
            "PFBD INSTAGRAM";
    }


    #IPHONE {
        grid-area: IPHONE;
        width: 100%;
        height: 500px;
        background-color: rgb(255, 191, 106);
    }


    #OTHER {
        grid-area: OTHER;
        display: grid;
        width: 100%;
        height: 100%;
        grid-row-gap: 40px;
        grid-template-rows: auto 40px 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: ". . . ."
                ". SOCIAL SOCIAL SOCIAL";
    }
    
}

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/










/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 480px) and (max-width: 960px) {
    body {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        margin-top: 0;
        margin-left: 0;
    }


    .wrapper {
        width: 100vw;
        height: auto;
    }


    .scroller::-webkit-scrollbar {
        width: 0px;
        height: 16px;
    }


    .scroller {
        scrollbar-width: none;
        position: absolute;
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
    }


    .center-holder {
        width: 100%;
        display: flex;

        -webkit-box-pack: center;
        justify-content: center;
        background-color: #2e2e2e;
        margin: 0;
    }



    .footer-holder {
        width: 100%;
        max-width: 1640px;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #2e2e2e;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-rows: 140px auto;
        grid-template-columns: 1fr;
        grid-template-areas: "."
            "MAIN-AREA";
    }




    #SHADOW-SECTION {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: #2e2e2e;
        margin: 0;
    }


    #FOOTER {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: 150px auto;
        grid-template-areas:
            "OTHER"
            "IPHONE";
    }


    #PFBD {
        grid-area: PFBD;
        display: grid;
        width: 100%;
        height: 670px;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "PFBD  TITLE"
            "PFBD INSTAGRAM"
            "PFBD INSTAGRAM";
    }


    #IPHONE {
        grid-area: IPHONE;
        width: 100%;
        height: 500px;
        background-color: rgb(255, 191, 106);
    }


    #OTHER {
        grid-area: OTHER;
        display: grid;
        width: 100%;
        height: 100%;
        grid-row-gap: 40px;
        grid-template-rows: auto 40px 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: ". . . ."
         ". SOCIAL SOCIAL SOCIAL";
    }

}

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/











/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 0px) and (max-width: 480px) {
    body {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        margin-top: 0;
        margin-left: 0;
    }


    .wrapper {
        width: 100vw;
        height: auto;
    }


    .scroller::-webkit-scrollbar {
        width: 0px;
        height: 16px;
    }


    .scroller {
        scrollbar-width: none;
        position: absolute;
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
    }


    .center-holder {
        width: 100%;
        display: flex;

        -webkit-box-pack: center;
        justify-content: center;
        background-color: #2e2e2e;
        margin: 0;
    }




    .footer-holder {
        width: 100%;
        max-width: 1640px;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #2e2e2e;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-rows: 140px auto;
        grid-template-columns: 1fr;
        grid-template-areas: "."
            "MAIN-AREA";
    }




    #SHADOW-SECTION {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: #2e2e2e;
        margin: 0;
    }


    #FOOTER {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: 150px auto;
        grid-template-areas: "OTHER"
            "IPHONE";
    }


    #PFBD {
        grid-area: PFBD;
        display: grid;
        width: 100%;
        height: 670px;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "PFBD  TITLE"
            "PFBD INSTAGRAM"
            "PFBD INSTAGRAM";
    }


    #IPHONE {
        grid-area: IPHONE;
        width: 100%;
        height: 500px;
        background-color: rgb(255, 191, 106);
    }

    #OTHER {
        grid-area: OTHER;
        display: grid;
        width: 100%;
        height: 100%;
        grid-row-gap: 40px;
        grid-template-rows: auto 40px 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: ". . . ."
                ". SOCIAL SOCIAL SOCIAL";
    }
}

/* ---------------------------------------------------------------------------------------*/





/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/