/* UNIVERSAL------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;

}


.wrapper-2 {
    position: relative;
    width: 100%;
    height: auto;
}

.scroller {
    scrollbar-width: none;
    position: absolute;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;


}



.fixed-center {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #2e2e2e;
    top: 0;
    left: 0;
    margin: 0;

}


.center-holder {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #2e2e2e;
}


.bc-yellow {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 239, 66);
}






.grid-0-2-header {
    position: fixed;
    width: 100%;
    height: 100px;
    max-width: 1760px;
    background-color: #2e2e2e;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas:
        "BANNER-1 MAIN-AREA BANNER-2";
    z-index: 1;
}




.grid-0 {
    position: relative;
    margin-top: 100px;
    width: 100%;
    max-width: 1760px;
    background-color: #2e2e2e;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: 0px auto;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: ". . ."
        "BANNER-1 MAIN-AREA BANNER-2";
}



.grid-0-2 {
    position: relative;
    padding-bottom: 100px;
    width: 100%;
    max-width: 1760px;
    background-color: #2e2e2e;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: ". . ."
        "BANNER-1 MAIN-AREA BANNER-2";
}



.grid-0-3 {
    position: relative;
    top: 0px;
    width: 100%;
    max-width: 1760px;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: 1fr;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: ". . ."
        "BANNER-1 MAIN-AREA BANNER-2";
}


.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}




.fixed {
    width: 100%;
    height: 90vh;
    position: fixed;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    bottom: 0;
    z-index: -1000;
    background-color: #B3B7A5;
}



.fixed-reveal {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    bottom: 0;

}



.title-holder-desktop {
    grid-area: TITLE;
    width: 100%;
    height: 100%;
}




.title-holder-mobile {
    display: none;
}





.three-holder {
    position: sticky;
    top: 100px;
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: 80px auto 30px;
    grid-row-gap: 40px;
    grid-template-areas: "HOME-ICON"
        "HOME-TEXT"
        "SOCIAL";
}



.icon {
    display: flex;
    -webkit-box-pack: center;
    justify-content: left;
    align-items: center;
}



#mobile {
    display: none;
}



#SHADOW-SECTION {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #2e2e2e;


}


#PROJECTS {
    grid-area: MAIN-AREA;
    width: 100%;
    height: 400PX;
    display: grid;
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-areas: "HEAD"
        "PROJECTS";
}



#FOLIO-TITLE {
    grid-area: HEAD;
}



#GITHUB {
    grid-area: GITHUB;
    width: 100%;
    height: 100%;
}


#DRIBBLE {
    grid-area: DRIBBLE;
    width: 100%;
    height: 100%;
}


#LINKEDIN {
    grid-area: LINKEDIN;
    width: 100%;
    height: 100%;
}


#YOUTUBE {
    grid-area: YOUTUBE;
    width: 100%;
    height: 100%;
}


/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/

























/* SECTION 1--------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
#GRID-1 {
    position: relative;
    grid-area: MAIN-AREA;
    width: 100%;
    top: 80px;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto 60px auto;
    grid-template-areas: "IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN"
        "IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-3 IMAGE-3 IMAGE-3"
        "IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 . . ."
        "IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 . . ."
        ". . . . . . . ."
        "DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION . . .";
}

/* ---------------------------------------------------------------------------------------*/




/* ---------------------------------------------------------------------------------------*/
#IMAGE-MAIN {
    grid-area: IMAGE-MAIN;
    width: 100%;
    height: 680px;
    display: flex;
}

#IMAGE-MAIN-GRID {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100% 100%;
    grid-template-areas: "IMAGE"
        "TEXT";
}

#IMAGE-MAIN-I {
    grid-area: IMAGE;
    width: 100%;
    height: 100%;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: ". . IMAGE IMAGE IMAGE IMAGE IMAGE IMAGE";
}

#IMAGE-MAIN-T {
    grid-area: TEXT;
    width: 100%;
    height: 100%;
    top: -100%;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "TEXT TEXT TEXT TEXT . . . .";
}


#I-1 {
    grid-area: IMAGE;
    background-color: antiquewhite;
}

#T-1 {
    grid-area: TEXT;
    height: fit-content;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px auto auto auto;
    grid-template-areas: ". . . ."
        "TITLE TITLE TITLE TITLE"
        "DATA DATA . ."
        "DATA DATA . .";
}


#T-2 {
    grid-area: TITLE;
    display: flex;
    width: 100%;
    height: auto;
}


#T-3 {
    grid-area: DATA;
    height: fit-content;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "LOCATION"
        "DESCRIPTION"
        "STATUS"
        "COMPANY"
        "SOFTWARE";
}

#T-3-LOCATION {
    grid-area: LOCATION;
}

#T-3-DESCRIPTION {
    grid-area: DESCRIPTION;
}

#T-3-STATUS {
    grid-area: STATUS;
}

#T-3-COMPANY {
    grid-area: COMPANY;
}

#T-3-SOFTWARE {
    grid-area: SOFTWARE;
}

/* ---------------------------------------------------------------------------------------*/




/* ---------------------------------------------------------------------------------------*/
#IMAGE-1 {
    grid-area: IMAGE-1;
    width: 100%;
    height: 560px;
    display: grid;
    grid-template-columns: 15px 1fr 15px;
    grid-template-rows: 15px auto 15px;
    grid-template-areas: ". . ."
        ". CENTER-AREA ."
        ". . .";
    background-color: antiquewhite;
}



#IMAGE-3 {
    grid-area: IMAGE-3;
    width: 100%;
    height: 560px;
    display: grid;
    background-color: antiquewhite;
}



#TEXT {
    grid-area: DESCRIPTION;
    width: 100%;
}



#IMAGE-2 {
    grid-area: IMAGE-2;
    width: 100%;
    height: 560px;
    display: grid;
    background-color: antiquewhite;
}


#IMAGE-3 {
    grid-area: IMAGE-3;
    width: 100%;
    height: 560px;
    display: grid;
    background-color: antiquewhite;
}


#IMAGE-4 {
    grid-area: IMAGE-4;
    width: 100%;
    height: 560px;
    display: grid;
    background-color: antiquewhite;
}


#SKILLS-GRID {
    grid-area: SKILLS-CENTER;
    width: 100%;
    height: auto;
    max-height: 0;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

/* ---------------------------------------------------------------------------------------*/





/* ---------------------------------------------------------------------------------------*/
#TITLE {
    grid-area: TEXT;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "MAIN";
}






#HOME-TAG {
    background-image: url(..\assetts\Artboard 2.svg);
}



#HOME-TEXT {
    grid-area: HOME-TEXT;
    display: grid;
    width: 100%;
    height: auto;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "FRONT-TEXT"
        "HERO-TEXT"
        "DESCRIPTION";
}


#SOCIAL {
    grid-area: SOCIAL;
    display: grid;
    width: 100%;
    height: 100%;
    grid-column-gap: 20px;
    grid-template-columns: 30px 30px 30px 30PX;
    grid-template-areas: "GITHUB DRIBBLE YOUTUBE LINKEDIN";

}

#GITHUB {
    grid-area: GITHUB;
    width: 100%;
    height: 100%;
}

#DRIBBLE {
    grid-area: DRIBBLE;
    width: 100%;
    height: 100%;
}

#LINKEDIN {
    grid-area: LINKEDIN;
    width: 100%;
    height: 100%;
}

#YOUTUBE {
    grid-area: YOUTUBE;
    width: 100%;
    height: 100%;
}

/* ---------------------------------------------------------------------------------------*/























































































/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 960px) and (max-width: 1280px) {

    .center-holder {
            width: 100%;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
    
    
        .bc-yellow {
            width: 100%;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            background-color: rgb(255, 239, 66);
        }
    
    
        .grid-0 {
            margin-top: 140px;
            width: 100%;
            max-width: 1640px;
            background-color: #2e2e2e;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-rows: 0px auto;
            grid-template-columns: 0px 1fr 0px;
            grid-template-areas: ". . ."
                "BANNER-1 MAIN-AREA BANNER-2";
        }
    
    
        .grid-0-2 {
            width: 100%;
            max-width: 1640px;
            position: relative;
            padding-bottom: 100px;
            background-color: #2e2e2e;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-rows: auto;
            grid-template-columns: 50px 1fr 50px;
            grid-template-areas: ". . ."
                "BANNER-1 MAIN-AREA BANNER-2";
        }
    
    
    
        .grid-0-2-header {
            position: fixed;
            width: 100%;
            height: 100px;
            max-width: 1760px;
            background-color: #2e2e2e;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-rows: auto;
            grid-template-columns: 50px 1fr 50px;
            grid-template-areas:
                "BANNER-1 MAIN-AREA BANNER-2";
            z-index: 1;
        }
    
    
        .container {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
    
    
        #mobile {
            display: none;
        }
    
    
        .three-holder {
            position: sticky;
            top: 100px;
            width: 100%;
            max-height: 100%;
            display: grid;
            grid-template-rows: 80px auto 30px;
            grid-row-gap: 40px;
            grid-template-areas: "HOME-ICON"
                "HOME-TEXT"
                "SOCIAL";
        }
    
    
    
    
    
    
        /* SECTION 1--------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------*/
        #GRID-1 {
            grid-area: MAIN-AREA;
            width: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-areas: "TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE"
                "IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN"
                "IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1"
                "IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3"
                "IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4"
                "DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION"
                "IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2";
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-MAIN {
            grid-area: IMAGE-MAIN;
            width: 100%;
            height: 100%;
            min-height: 600px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-1 {
            grid-area: IMAGE-1;
            width: 100%;
            height: 560px;
            display: grid;
            grid-template-columns: 15px 1fr 15px;
            grid-template-rows: 15px auto 15px;
            grid-template-areas: ". . ."
                ". CENTER-AREA ."
                ". . .";
            background-color: antiquewhite;
        }
    
    
    
        #PLAN {
            grid-area: PLAN;
            width: 100%;
            height: 560px;
            display: grid;
            background-color: antiquewhite;
        }
    
    
    
        #TEXT {
            grid-area: DESCRIPTION;
            width: 100%;
        }
    
    
    
        #IMAGE-2 {
            grid-area: IMAGE-2;
            width: 100%;
            height: 560px;
            display: grid;
            background-color: antiquewhite;
        }
    
    
    
    
    
        #SKILLS-GRID {
            grid-area: SKILLS-CENTER;
            width: 100%;
            height: auto;
            max-height: 0;
            display: grid;
            grid-row-gap: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #TITLE {
            grid-area: TEXT;
            display: grid;
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: "MAIN";
        }
    
    
    
        #HOME-ICON {
            grid-area: HOME-ICON;
            width: 100%;
            grid-template-columns: 5fr 1fr;
            grid-template-rows: 70px;
            background-color: aliceblue;
            display: grid;
        }
    
    
        #HOME-TAG {
            background-image: url(..\assetts\Artboard 2.svg);
        }
    
    
    
        #HOME-TEXT {
            grid-area: HOME-TEXT;
            display: grid;
            width: 100%;
            height: auto;
            grid-row-gap: 30px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "FRONT-TEXT"
                "HERO-TEXT"
                "DESCRIPTION";
        }
    
    
        #SOCIAL {
            grid-area: SOCIAL;
            display: grid;
            width: 100%;
            height: 100%;
            grid-column-gap: 20px;
            grid-template-columns: 30px 30px 30px 30PX;
            grid-template-areas: "GITHUB DRIBBLE YOUTUBE LINKEDIN";
    
        }
    
        #GITHUB {
            grid-area: GITHUB;
            width: 100%;
            height: 100%;
        }
    
        #DRIBBLE {
            grid-area: DRIBBLE;
            width: 100%;
            height: 100%;
        }
    
        #LINKEDIN {
            grid-area: LINKEDIN;
            width: 100%;
            height: 100%;
        }
    
        #YOUTUBE {
            grid-area: YOUTUBE;
            width: 100%;
            height: 100%;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
        #IMAGE-MAIN {
            grid-area: IMAGE-MAIN;
            width: 100%;
            height: auto;
            display: flex;
        }
    
        #IMAGE-MAIN-GRID {
            width: 100%;
            height: 100%;
            display: grid;
            grid-row-gap: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: auto 680px;
            grid-template-areas: "IMAGE"; 
        }
    
        #IMAGE-MAIN-I {
            grid-area: IMAGE;
            width: 100%;
            height: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-template-columns: 1fr ;
            grid-template-rows: 100%;
            grid-template-areas: "IMAGE";
        }
    
        #IMAGE-MAIN-T {
            grid-area: IMAGE;
            width: 100%;
            height: 100%;
            top: -100%;
            display: grid;
            grid-column-gap: 40px;
            grid-template-columns:  1fr;
            grid-template-rows: 100%;
            grid-template-areas: "TEXT";
        }
    
    
        #I-1 {
            grid-area: IMAGE;
            background-color: antiquewhite;
        }
    
        #T-1 {
            grid-area: TEXT;
            height: fit-content;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 60px auto auto auto;
            grid-template-areas: ". . . ."
                "TITLE TITLE TITLE TITLE"
                "DATA DATA . ."
                "DATA DATA . .";
        }
    
    
        #T-2 {
            grid-area: TITLE;
            display: flex;
            width: 100%;
            height: auto;
        }
    
    
        #T-3 {
            grid-area: DATA;
            height: fit-content;
            display: grid;
            grid-row-gap: 30px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas: "LOCATION"
                "DESCRIPTION"
                "STATUS"
                "COMPANY"
                "SOFTWARE";
        }
    
        #T-3-LOCATION {
            grid-area: LOCATION;
        }
    
        #T-3-DESCRIPTION {
            grid-area: DESCRIPTION;
        }
    
        #T-3-STATUS {
            grid-area: STATUS;
        }
    
        #T-3-COMPANY {
            grid-area: COMPANY;
        }
    
        #T-3-SOFTWARE {
            grid-area: SOFTWARE;
        }

}

/* ---------------------------------------------------------------------------------------*/






















































































/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 480px) and (max-width: 960px) {

    .center-holder {
            width: 100%;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
    
    
        .bc-yellow {
            width: 100%;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            background-color: rgb(255, 239, 66);
        }
    
    
        .grid-0 {
            margin-top: 140px;
            width: 100%;
            max-width: 1640px;
            background-color: #2e2e2e;
            display: grid;
            grid-column-gap: 30px;
            grid-row-gap: 40px;
            grid-template-rows: 0px auto;
            grid-template-columns: 0px 1fr 0px;
            grid-template-areas: ". . ."
                "BANNER-1 MAIN-AREA BANNER-2";
        }
    
    
        .grid-0-2 {
            width: 100%;
            max-width: 1640px;
            position: relative;
            padding-bottom: 100px;
            background-color: #2e2e2e;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-rows: auto;
            grid-template-columns: 50px 1fr 50px;
            grid-template-areas: ". . ."
                "BANNER-1 MAIN-AREA BANNER-2";
        }
    
    
    
        .grid-0-2-header {
            position: fixed;
            width: 100%;
            height: 100px;
            max-width: 1760px;
            background-color: #2e2e2e;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-rows: auto;
            grid-template-columns: 50px 1fr 50px;
            grid-template-areas:
                "BANNER-1 MAIN-AREA BANNER-2";
            z-index: 1;
        }
    
    
        .container {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
    
    
        #mobile {
            display: none;
        }
    
    
        .three-holder {
            position: sticky;
            top: 100px;
            width: 100%;
            max-height: 100%;
            display: grid;
            grid-template-rows: 80px auto 30px;
            grid-row-gap: 40px;
            grid-template-areas: "HOME-ICON"
                "HOME-TEXT"
                "SOCIAL";
        }
    
    
    
    
    
    
        /* SECTION 1--------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------*/
        #GRID-1 {
            grid-area: MAIN-AREA;
            width: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-areas: "TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE"
                "IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN"
                "IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1"
                "IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3"
                "IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4"
                "DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION"
                "IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2";
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-MAIN {
            grid-area: IMAGE-MAIN;
            width: 100%;
            height: 100%;
            min-height: 600px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-1 {
            grid-area: IMAGE-1;
            width: 100%;
            height: 560px;
            display: grid;
            grid-template-columns: 15px 1fr 15px;
            grid-template-rows: 15px auto 15px;
            grid-template-areas: ". . ."
                ". CENTER-AREA ."
                ". . .";
            background-color: antiquewhite;
        }
    
    
    
        #PLAN {
            grid-area: PLAN;
            width: 100%;
            height: 560px;
            display: grid;
            background-color: antiquewhite;
        }
    
    
    
        #TEXT {
            grid-area: DESCRIPTION;
            width: 100%;
        }
    
    
    
        #IMAGE-2 {
            grid-area: IMAGE-2;
            width: 100%;
            height: 560px;
            display: grid;
            background-color: antiquewhite;
        }
    
    
    
    
    
        #SKILLS-GRID {
            grid-area: SKILLS-CENTER;
            width: 100%;
            height: auto;
            max-height: 0;
            display: grid;
            grid-row-gap: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #TITLE {
            grid-area: TEXT;
            display: grid;
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: "MAIN";
        }
    
    
    
        #HOME-ICON {
            grid-area: HOME-ICON;
            width: 100%;
            grid-template-columns: 5fr 1fr;
            grid-template-rows: 70px;
            background-color: aliceblue;
            display: grid;
        }
    
    
        #HOME-TAG {
            background-image: url(..\assetts\Artboard 2.svg);
        }
    
    
    
        #HOME-TEXT {
            grid-area: HOME-TEXT;
            display: grid;
            width: 100%;
            height: auto;
            grid-row-gap: 30px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "FRONT-TEXT"
                "HERO-TEXT"
                "DESCRIPTION";
        }
    
    
        #SOCIAL {
            grid-area: SOCIAL;
            display: grid;
            width: 100%;
            height: 100%;
            grid-column-gap: 20px;
            grid-template-columns: 30px 30px 30px 30PX;
            grid-template-areas: "GITHUB DRIBBLE YOUTUBE LINKEDIN";
    
        }
    
        #GITHUB {
            grid-area: GITHUB;
            width: 100%;
            height: 100%;
        }
    
        #DRIBBLE {
            grid-area: DRIBBLE;
            width: 100%;
            height: 100%;
        }
    
        #LINKEDIN {
            grid-area: LINKEDIN;
            width: 100%;
            height: 100%;
        }
    
        #YOUTUBE {
            grid-area: YOUTUBE;
            width: 100%;
            height: 100%;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
        #IMAGE-MAIN {
            grid-area: IMAGE-MAIN;
            width: 100%;
            height: auto;
            display: flex;
        }
    
        #IMAGE-MAIN-GRID {
            width: 100%;
            height: 100%;
            display: grid;
            grid-row-gap: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: auto 680px;
            grid-template-areas: "IMAGE";
        }
    
        #IMAGE-MAIN-I {
            grid-area: IMAGE;
            width: 100%;
            height: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: 100%;
            grid-template-areas: "IMAGE";
        }
    
        #IMAGE-MAIN-T {
            grid-area: IMAGE;
            width: 100%;
            height: 100%;
            top: -100%;
            display: grid;
            grid-column-gap: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: 100%;
            grid-template-areas: "TEXT";
        }
    
    
        #I-1 {
            grid-area: IMAGE;
            background-color: antiquewhite;
        }
    
        #T-1 {
            grid-area: TEXT;
            height: fit-content;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 60px auto auto auto;
            grid-template-areas: ". . . ."
                "TITLE TITLE TITLE TITLE"
                "DATA DATA . ."
                "DATA DATA . .";
        }
    
    
        #T-2 {
            grid-area: TITLE;
            display: flex;
            width: 100%;
            height: auto;
        }
    
    
        #T-3 {
            grid-area: DATA;
            height: fit-content;
            display: grid;
            grid-row-gap: 30px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas: "LOCATION"
                "DESCRIPTION"
                "STATUS"
                "COMPANY"
                "SOFTWARE";
        }
    
        #T-3-LOCATION {
            grid-area: LOCATION;
        }
    
        #T-3-DESCRIPTION {
            grid-area: DESCRIPTION;
        }
    
        #T-3-STATUS {
            grid-area: STATUS;
        }
    
        #T-3-COMPANY {
            grid-area: COMPANY;
        }
    
        #T-3-SOFTWARE {
            grid-area: SOFTWARE;
        }
    
}

/* ---------------------------------------------------------------------------------------*/

























































@media all and (min-width: 0px) and (max-width: 480px) {

    .center-holder {
            width: 100%;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
    
    
        .bc-yellow {
            width: 100%;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            background-color: rgb(255, 239, 66);
        }
    
    
        .grid-0 {
            margin-top: 140px;
            width: 100%;
            max-width: 1640px;
            background-color: #2e2e2e;
            display: grid;
            grid-column-gap: 30px;
            grid-row-gap: 40px;
            grid-template-rows: 0px auto;
            grid-template-columns: 0px 1fr 0px;
            grid-template-areas: ". . ."
                "BANNER-1 MAIN-AREA BANNER-2";
        }
    
    
        .grid-0-2 {
            width: 100%;
            max-width: 1640px;
            position: relative;
            padding-bottom: 100px;
            background-color: #2e2e2e;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-rows: auto;
            grid-template-columns: 50px 1fr 50px;
            grid-template-areas: ". . ."
                "BANNER-1 MAIN-AREA BANNER-2";
        }
    
    
    
        .grid-0-2-header {
            position: fixed;
            width: 100%;
            height: 100px;
            max-width: 1760px;
            background-color: #2e2e2e;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-rows: auto;
            grid-template-columns: 50px 1fr 50px;
            grid-template-areas:
                "BANNER-1 MAIN-AREA BANNER-2";
            z-index: 1;
        }
    
    
        .container {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
    
    
        #mobile {
            display: none;
        }
    
    
        .three-holder {
            position: sticky;
            top: 100px;
            width: 100%;
            max-height: 100%;
            display: grid;
            grid-template-rows: 80px auto 30px;
            grid-row-gap: 40px;
            grid-template-areas: "HOME-ICON"
                "HOME-TEXT"
                "SOCIAL";
        }
    
    
    
    
    
    
        /* SECTION 1--------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------*/
        #GRID-1 {
            grid-area: MAIN-AREA;
            width: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-areas: "TITLE TITLE TITLE TITLE TITLE TITLE TITLE TITLE"
                "IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN IMAGE-MAIN"
                "IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1 IMAGE-1"
                "IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3 IMAGE-3"
                "IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4"
                "DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION"
                "IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-2";
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-MAIN {
            grid-area: IMAGE-MAIN;
            width: 100%;
            height: 100%;
            min-height: 600px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-1 {
            grid-area: IMAGE-1;
            width: 100%;
            height: 560px;
            display: grid;
            grid-template-columns: 15px 1fr 15px;
            grid-template-rows: 15px auto 15px;
            grid-template-areas: ". . ."
                ". CENTER-AREA ."
                ". . .";
            background-color: antiquewhite;
        }
    
    
    
        #PLAN {
            grid-area: PLAN;
            width: 100%;
            height: 560px;
            display: grid;
            background-color: antiquewhite;
        }
    
    
    
        #TEXT {
            grid-area: DESCRIPTION;
            width: 100%;
        }
    
    
    
        #IMAGE-2 {
            grid-area: IMAGE-2;
            width: 100%;
            height: 560px;
            display: grid;
            background-color: antiquewhite;
        }
    
    
    
    
    
        #SKILLS-GRID {
            grid-area: SKILLS-CENTER;
            width: 100%;
            height: auto;
            max-height: 0;
            display: grid;
            grid-row-gap: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #TITLE {
            grid-area: TEXT;
            display: grid;
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: "MAIN";
        }
    
    
    
        #HOME-ICON {
            grid-area: HOME-ICON;
            width: 100%;
            grid-template-columns: 5fr 1fr;
            grid-template-rows: 70px;
            background-color: aliceblue;
            display: grid;
        }
    
    
        #HOME-TAG {
            background-image: url(..\assetts\Artboard 2.svg);
        }
    
    
    
        #HOME-TEXT {
            grid-area: HOME-TEXT;
            display: grid;
            width: 100%;
            height: auto;
            grid-row-gap: 30px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "FRONT-TEXT"
                "HERO-TEXT"
                "DESCRIPTION";
        }
    
    
        #SOCIAL {
            grid-area: SOCIAL;
            display: grid;
            width: 100%;
            height: 100%;
            grid-column-gap: 20px;
            grid-template-columns: 30px 30px 30px 30PX;
            grid-template-areas: "GITHUB DRIBBLE YOUTUBE LINKEDIN";
    
        }
    
        #GITHUB {
            grid-area: GITHUB;
            width: 100%;
            height: 100%;
        }
    
        #DRIBBLE {
            grid-area: DRIBBLE;
            width: 100%;
            height: 100%;
        }
    
        #LINKEDIN {
            grid-area: LINKEDIN;
            width: 100%;
            height: 100%;
        }
    
        #YOUTUBE {
            grid-area: YOUTUBE;
            width: 100%;
            height: 100%;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
        #IMAGE-MAIN {
            grid-area: IMAGE-MAIN;
            width: 100%;
            height: auto;
            display: flex;
        }
    
        #IMAGE-MAIN-GRID {
            width: 100%;
            height: 100%;
            display: grid;
            grid-row-gap: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: auto 680px;
            grid-template-areas: "IMAGE";
        }
    
        #IMAGE-MAIN-I {
            grid-area: IMAGE;
            width: 100%;
            height: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: 100%;
            grid-template-areas: "IMAGE";
        }
    
        #IMAGE-MAIN-T {
            grid-area: IMAGE;
            width: 100%;
            height: 100%;
            top: -100%;
            display: grid;
            grid-column-gap: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: 100%;
            grid-template-areas: "TEXT";
        }
    
    
        #I-1 {
            grid-area: IMAGE;
            background-color: antiquewhite;
        }
    
        #T-1 {
            grid-area: TEXT;
            height: fit-content;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 60px auto auto auto;
            grid-template-areas: ". . . ."
                "TITLE TITLE TITLE TITLE"
                "DATA DATA . ."
                "DATA DATA . .";
        }
    
    
        #T-2 {
            grid-area: TITLE;
            display: flex;
            width: 100%;
            height: auto;
        }
    
    
        #T-3 {
            grid-area: DATA;
            height: fit-content;
            display: grid;
            grid-row-gap: 30px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas: "LOCATION"
                "DESCRIPTION"
                "STATUS"
                "COMPANY"
                "SOFTWARE";
        }
    
        #T-3-LOCATION {
            grid-area: LOCATION;
        }
    
        #T-3-DESCRIPTION {
            grid-area: DESCRIPTION;
        }
    
        #T-3-STATUS {
            grid-area: STATUS;
        }
    
        #T-3-COMPANY {
            grid-area: COMPANY;
        }
    
        #T-3-SOFTWARE {
            grid-area: SOFTWARE;
        }

}

/* ---------------------------------------------------------------------------------------*/

































































































/* ---------------------------------------------------------------------------------------*/
@media all and (max-width: 480px) {}

/* ---------------------------------------------------------------------------------------*/














/* ---------------------------------------------------------------------------------------*/
/* Portrait */
@media screen and (orientation:portrait) {}

/* ---------------------------------------------------------------------------------------*/












/* ---------------------------------------------------------------------------------------*/
/* Landscape */
@media screen and (orientation:landscape) {}

/* ---------------------------------------------------------------------------------------*/






/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {}






/*FONTS--------------------------------------------------------------------------------------*/

h1 {
    font-family: neusa-next-std-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10em;
    padding-bottom: 0px;
}


#FRONT-TEXT {
    grid-area: FRONT-TEXT;
    color: #EFEFEF;

}


#HERO-TEXT {
    grid-area: HERO-TEXT;
    color: #EFEFEF;
}


#DESCRIPTION-TEXT {
    grid-area: DESCRIPTION;
    color: #EFEFEF;
}

















































































