/* UNIVERSAL------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;

}

.wrapper {
    width: 100vw;
    height: auto;
}


.wrapper-2 {
    position: relative;
    width: 100%;
    height: auto;
}

.scroller {
    position: absolute;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;


}


.fixed-center {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #2e2e2e;
    top: 0;
    left: 0;
    margin: 0;
    
}

.center-holder {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #2e2e2e;
    margin: 0;
}


.bc-yellow {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 239, 66);
}


.grid-0 {
    width: 100%;
    max-width: 1760px;
    background-color: #2e2e2e;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: 60px auto;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: ". . ."
        "BANNER-1 MAIN-AREA BANNER-2";
}



.grid-0-fixed {
    position: fixed;
    width: 99vw;
    height: 100vh;
    max-width: 1760px;
    background-color: #2e2e2e;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: 60px auto;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: ". . ."
        "BANNER-1 MAIN-AREA BANNER-2";
    margin-right: 0;
}



.grid-0-2 {
    position: relative;
    padding-bottom: 100px;
    width: 100%;
    max-width: 1760px;
    background-color: #2e2e2e;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: ". . ."
        "BANNER-1 MAIN-AREA BANNER-2";
}



.grid-0-3 {
    position: relative;
    top: 0px;
    width: 100%;
    max-width: 1760px;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: 1fr;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: ". . ."
        "BANNER-1 MAIN-AREA BANNER-2";
}


.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.container-2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    -webkit-box-pack: left;
    justify-content: left;
}




.fixed {
    width: 100%;
    height: 90vh;
    position: fixed;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    bottom: 0;
    z-index: -1000;
    background-color: #B3B7A5;
}



.fixed-reveal {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    bottom: 0;

}



.title-holder-desktop {
    grid-area: TITLE;
    width: 100%;
    height: 100%;
}




.title-holder-mobile {
    display: none;
}





.three-holder {
    position: sticky;
    top: 100px;
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: 80px auto 30px;
    grid-row-gap: 40px;
    grid-template-areas: "HOME-ICON"
        "HOME-TEXT"
        "SOCIAL";
}



.icon {
    display: flex;
    -webkit-box-pack: center;
    justify-content: left;
    align-items: center;
}



#mobile {
    display: none;
}



#SHADOW-SECTION {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #2e2e2e;


}


#PROJECTS {
    grid-area: MAIN-AREA;
    width: 100%;
    height: 400PX;
    display: grid;
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-areas: "HEAD"
        "PROJECTS";
}



#FOLIO-TITLE {
    grid-area: HEAD;
}



#GITHUB {
    grid-area: GITHUB;
    width: 100%;
    height: 100%;
}


#DRIBBLE {
    grid-area: DRIBBLE;
    width: 100%;
    height: 100%;
}


#LINKEDIN {
    grid-area: LINKEDIN;
    width: 100%;
    height: 100%;
}


#YOUTUBE {
    grid-area: YOUTUBE;
    width: 100%;
    height: 100%;
}







#RIGHT-FIXED {
    grid-area: BANNER-2;

    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

}



#RIGHT-FIXED-STICKY {
    top: 100px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    grid-template-rows: 360px 600px auto;
    grid-template-rows: 360px 600px auto;
    grid-template-areas: "SIDE-1"
        "SIDE-2"
        "SIDE-3";
}



#LEFT-FIXED {
    grid-area: BANNER-1;
   
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;

}



#LEFT-FIXED-STICKY {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    grid-template-rows: 360px 600px auto;
    grid-template-areas: "SIDE-1"
        "SIDE-2"
        "SIDE-3";
}



#ICON-SIDE-1 {
    position: relative;
    grid-area: SIDE-1;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 40px 1fr;
    grid-template-areas: ". AREA";
}


#ICON-SIDE-2 {
    position: relative;
    grid-area: SIDE-2;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 40px 1fr;
    grid-template-areas: ". AREA ";
}


#ICON-SIDE-3 {
    position: relative;
    grid-area: SIDE-1;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 40px;
    grid-template-areas: "AREA .";
}


#ICON-SIDE-4 {
    position: relative;
    grid-area: SIDE-2;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 40px;
    grid-template-areas: "AREA .";
}


#ICON-PLACEHOLDER {
    position: absolute;
    width: 100%;
    height: 100%;  
    grid-area: AREA;    
    background-color: #B3B7A5;
}






/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/

























/* SECTION 1--------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
#GRID-1 {
    grid-area: MAIN-AREA;
    width: 100%;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "TITLE TITLE TITLE-2 TITLE-2 IMAGE IMAGE IMAGE IMAGE"
        "TITLE TITLE TITLE-2 TITLE-2 IMAGE-2 IMAGE-2 IMAGE-3 IMAGE-3"
        "TITLE TITLE TITLE-2 TITLE-2 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4";
}

/* ---------------------------------------------------------------------------------------*/




/* ---------------------------------------------------------------------------------------*/
#IMAGE {
    grid-area: IMAGE;
    width: 100%;
    height: 670px;
    display: grid;
    background-color: antiquewhite;
}

/* ---------------------------------------------------------------------------------------*/




/* ---------------------------------------------------------------------------------------*/
#IMAGE-2 {
    grid-area: IMAGE-2;
    width: 100%;
    height: 560px;
    display: grid;
    grid-template-columns: 15px 1fr 15px;
    grid-template-rows: 15px auto 15px;
    grid-template-areas: ". . ."
        ". CENTER-AREA ."
        ". . .";
}


#IMAGE-2-INTERNAL {
    grid-area: CENTER-AREA;
    width: auto;
    height: auto;
    display: grid;
    border-style: solid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px auto 20px;
    border-width: 4px;
    border-radius: 15px;
    grid-template-areas: ". . ."
        ". SKILLS-CENTER ."
        ". . .";
    border-color: #EFEFEF;
}

#SKILLS-GRID {
    grid-area: SKILLS-CENTER;
    width: 100%;
    height: auto;
    max-height: 0;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}





/* ---------------------------------------------------------------------------------------*/



/* ---------------------------------------------------------------------------------------*/
#IMAGE-3 {
    grid-area: IMAGE-3;
    width: 100%;
    height: 560px;
    display: grid;
    background-color: antiquewhite;

}

/* ---------------------------------------------------------------------------------------*/




/* ---------------------------------------------------------------------------------------*/
#IMAGE-4 {
    grid-area: IMAGE-4;
    width: 100%;
    height: 670px;
    display: grid;
    background-color: antiquewhite;

}

/* ---------------------------------------------------------------------------------------*/



/* ---------------------------------------------------------------------------------------*/
#TITLE {
    grid-area: TEXT;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "MAIN";




}



#HOME {
    grid-area: HOME-ICON;
    width: 100%;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 70px;
    background-color: aliceblue;
    display: grid;
}


#HOME-TAG {
    background-image: url(..\assetts\Artboard 2.svg);
}



#HOME-TEXT {
    grid-area: HOME-TEXT;
    display: grid;
    width: 100%;
    height: auto;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "FRONT-TEXT"
        "HERO-TEXT"
        "DESCRIPTION";



}


#SOCIAL {
    grid-area: SOCIAL;
    display: grid;
    width: 100%;
    height: 100%;
    grid-column-gap: 20px;
    grid-template-columns: 30px 30px 30px 30PX;
    grid-template-areas: "GITHUB DRIBBLE YOUTUBE LINKEDIN";

}

#GITHUB {
    grid-area: GITHUB;
    width: 100%;
    height: 100%;

}

#DRIBBLE {
    grid-area: DRIBBLE;
    width: 100%;
    height: 100%;

}

#LINKEDIN {
    grid-area: LINKEDIN;
    width: 100%;
    height: 100%;

}

#YOUTUBE {
    grid-area: YOUTUBE;
    width: 100%;
    height: 100%;

}





/* ---------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------*/
#TITLE-2 {
    grid-area: TITLE-2;
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;

    grid-row-gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 1fr 440px 400px;
    grid-template-areas: "TOP-IMAGE"
        "HERO"
        "MID-IMAGE"
        "BOTTOM-IMAGE";
}


#HERO {
    position: relative;
    grid-area: HERO;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover 150%;
    background-position: 0px 0px;
}


#HERO-VID {
    margin: auto;
    display: block;
    position: absolute;
    background-v: url(assetts/videos/pexels-c-technical-6153734.mp4);
    background-size: cover 150%;
    background-position: -150px 300px;
    width: 800%;
    height: auto;
}


#TOP-IMAGE {
    grid-area: TOP-IMAGE;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(assetts/images/uni-project-1/uni-project-1-image1.PNG);
    background-size: cover 100%;
    background-position: -400px -300px;
    
}

#HERO {
    grid-area: HERO;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}




/* ---------------------------------------------*/
#MID-IMAGE {
    grid-area: MID-IMAGE;
    display: grid;
    width: 100%;
    height: 100%;   
    grid-template-columns: 1fr;
    grid-template-rows: auto 400px;
    grid-row-gap: 20px;
    grid-template-areas: "TITLE"
                         "IMAGE";
}

#STORIES {
    grid-area:IMAGE;   
    background-color: rgb(166, 184, 190);
}
/* ----------------------------------------------*/




#BOTTOM-IMAGE {
    grid-area: BOTTOM-IMAGE;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(assetts/images/tlc-2020-3.PNG);
    background-size: cover;
    background-position: -150px 0px;
}


#BANNER-1 {
    position: relative;
    grid-area: BANNER-1;
    width: 100%;
    height: 100%;
    background-color: aqua;
}


#BANNER-2 {
    position: relative;
    grid-area: BANNER-2;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/












/* ---------------------------------------------------------------------------------------*/
#GRID-2 {
    grid-area: MAIN-AREA;
    width: 100%;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO DESCRIPTION DESCRIPTION"
        "PFBD PFBD PFBD PFBD PFBD-2 PFBD-2 PFBD-2 PFBD-2";
}



#VIDEO {
    grid-area: VIDEO;
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
}


#PFBD {
    grid-area: PFBD;
    display: grid;
    width: 100%;
    height: 670px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "PFBD  TITLE"
                         "PFBD INSTAGRAM"
                         "PFBD INSTAGRAM";
}


#PLACEHOLDER {
    grid-area: PFBD;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}


#TITLE-INSTA {
    grid-area: TITLE;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}


#INSTA {
    grid-area: INSTAGRAM;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}



#PFBD-2 {
    grid-area: PFBD-2;
    width: 100%;
    height: 670px;
    background-color: antiquewhite;
}


#DESCRIPTION {
    grid-area: DESCRIPTION;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

/* ---------------------------------------------------------------------------------------*/







/* ---------------------------------------------------------------------------------------*/
#GRID-3 {
    grid-area: MAIN-AREA;
    width: 100%;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO";
}





#DESCRIPTION {
    grid-area: DESCRIPTION;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}


#FOLIO {
    grid-area: FOLIO;
    display: grid;
    width: 100%;
    height: auto;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "TITLE"
        "FOLIO-GRID";

}



#FOLIO-TITLE {
    grid-area: TITLE;
    justify-content: left;
    width: 100%;
    background-color: antiquewhite;
}




#FOLIO-GRID {
    display: grid;
    grid-area: FOLIO-GRID;
    width: 100%;
    height: auto;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px auto;
    grid-template-areas: "PROJECT-1  PROJECT-1 PROJECT-2 PROJECT-2 PROJECT-3 PROJECT-3";

}


#PROJECT-1 {
    grid-area: PROJECT-1;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}


#PROJECT-2 {
    grid-area: PROJECT-2;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}


#PROJECT-3 {
    grid-area: PROJECT-3;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}


#FOLIO-TITLE {
    grid-area: MAIN-AREA;
    overflow: hidden;
    display: inline;


}

/* ---------------------------------------------------------------------------------------*/













































































/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 960px) and (max-width: 1280px) {

    body {
        position: absolute;
        width: 100vw;
        height: 100vw;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;

    }


    .center-holder {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }


    .bc-yellow {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: rgb(255, 239, 66);
    }



    .grid-0-fixed {
        position: fixed;
        top: -100vh;
        width: 100vw;
        height: 100vh;
        max-width: 1760px;
        background-color: #2e2e2e;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-rows: 60px auto;
        grid-template-columns: 40px 1fr 40px;
        grid-template-areas: ". . ."
                             "BANNER-1 MAIN-AREA BANNER-2";
         margin-right: 0;
    }


    .grid-0 {
        width: 100%;

        max-width: 1640px;
        background-color: #2e2e2e;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-rows: 60px auto;
        grid-template-columns: 50px 1fr 50px;
        grid-template-areas: ". . ."
            "BANNER-1 MAIN-AREA BANNER-2";
    }


    .grid-0-2 {
        width: 100%;
        max-width: 1640px;
        position: relative;
        padding-bottom: 100px;
        background-color: #2e2e2e;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-rows: auto;
        grid-template-columns: 50px 1fr 50px;
        grid-template-areas: ". . ."
            "BANNER-1 MAIN-AREA BANNER-2";
    }


    .container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }


    #mobile {
        display: none;
    }


    .three-holder {
        position: sticky;
        top: 100px;
        width: 100%;
        max-height: 100%;
        display: grid;
        grid-template-rows: 80px auto 30px;
        grid-row-gap: 40px;
        grid-template-areas: "HOME-ICON"
            "HOME-TEXT"
            "SOCIAL";
    }
















    /* ---------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------*/
    #GRID-1 {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "TITLE TITLE TITLE-2 TITLE-2 IMAGE IMAGE IMAGE IMAGE"
            "TITLE TITLE TITLE-2 TITLE-2 IMAGE-2 IMAGE-2 IMAGE-3 IMAGE-3"
            "TITLE TITLE TITLE-2 TITLE-2 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4";
    }

    /* ---------------------------------------------------------------------------------------*/




    /* ---------------------------------------------------------------------------------------*/
    #IMAGE {
        grid-area: IMAGE;
        width: 100%;
        height: 600px;
        display: grid;
        background-color: antiquewhite;
    }

    /* ---------------------------------------------------------------------------------------*/




    /* ---------------------------------------------------------------------------------------*/
    #IMAGE-2 {
        grid-area: IMAGE-2;
        width: 100%;
        height: 560px;
        display: grid;
        grid-template-columns: 15px 1fr 15px;
        grid-template-rows: 15px auto 15px;
        grid-template-areas: ". . ."
            ". CENTER-AREA ."
            ". . .";

    }



    #IMAGE-2-INTERNAL {
        grid-area: CENTER-AREA;
        width: auto;
        height: auto;
        display: grid;
        border-style: solid;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 20px auto 20px;
        border-width: 5px;
        border-radius: 10px;
        border-color: #EFEFEF;
    }

    /* ---------------------------------------------------------------------------------------*/




    /* ---------------------------------------------------------------------------------------*/
    #IMAGE-3 {
        grid-area: IMAGE-3;
        width: 100%;
        height: 560px;
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 20px auto 20px;
        grid-template-areas: ". . ."
            ".CENTER-AREA."
            ". . .";
    }


    #IMAGE-3-INTERNAL {
        grid-area: CENTER-AREA;
        width: auto;
        height: auto;
        display: grid;
        background-color: antiquewhite;
    }

    /* ---------------------------------------------------------------------------------------*/




    /* ---------------------------------------------------------------------------------------*/
    #IMAGE-4 {
        grid-area: IMAGE-4;
        width: 100%;
        height: 600px;
        display: grid;
        background-color: antiquewhite;
    }

    /* ---------------------------------------------------------------------------------------*/



    /* ---------------------------------------------------------------------------------------*/
    #TITLE {
        grid-area: TITLE;
        position: sticky;
        top: 50px;
        width: 100%;
        height: 480px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 30px;
        display: grid;
        max-height: 100%;
        grid-template-areas: "HOME"
            "TITLE"
            "HERO"
            "DESCRIPTION";
    }









    #HOME {
        grid-area: "HOME";
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 70px;
        background-color: aliceblue;
        display: grid;
    }


    #HOME-TAG {
        background-image: url(..\assetts\Artboard 2.svg);
    }

    /* ---------------------------------------------------------------------------------------*/


    /* ---------------------------------------------------------------------------------------*/
    #TITLE-2 {
        grid-area: TITLE-2;
        display: grid;
        width: 100%;
        height: 100%;
        display: grid;

        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 1fr 440px 400px;
        grid-template-areas: "TOP-IMAGE"
            "HERO"
            "MID-IMAGE"
            "BOTTOM-IMAGE";
    }


    #TOP-IMAGE {
        grid-area: TOP-IMAGE;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-image: url(assetts/images/uni-project-1/uni-project-1-image1.PNG);
        background-size: cover 100%;
        background-position: -400px -300px;
    }

    #HERO {
        grid-area: HERO;
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
    }




    
/****************************************************/
    #MID-IMAGE {
        grid-area: MID-IMAGE;
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 20px;
        grid-template-areas: "TITLE"
                             "IMAGE";
    }
    
    #STORIES {
        grid-area: IMAGE;
        background-color: rgb(166, 184, 190);
    }
/****************************************************/




    #BOTTOM-IMAGE {
        grid-area: BOTTOM-IMAGE;
        width: 100%;
        height: 100%; 
        background-repeat: no-repeat;
        background-image: url(assetts/images/tlc-2020-3.PNG);
        background-size: cover;
        background-position: -150px 0px;
    }


    #BANNER-1 {
        position: relative;
        grid-area: BANNER-1;
        width: 100%;
        height: 100%;
        background-color: aqua;
    }


    #BANNER-2 {
        position: relative;
        grid-area: BANNER-2;
        width: 100%;
        height: 100%;
        background-color: aqua;
    }

    /* ---------------------------------------------------------------------------------------*/







    /* ---------------------------------------------------------------------------------------*/



    #GRID-2 {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO DESCRIPTION DESCRIPTION"
            "PFBD PFBD PFBD PFBD PFBD-2 PFBD-2 PFBD-2 PFBD-2";
    }



    #VIDEO {
        grid-area: VIDEO;
        width: 100%;
        height: 460px;
        background-color: antiquewhite;
    }


    #DESCRIPTION {
        grid-area: DESCRIPTION;
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
    }

    /* ---------------------------------------------------------------------------------------*/







    /* ---------------------------------------------------------------------------------------*/
    #GRID-3 {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO"
            ". . CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL"
            ". . CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL";
    }





    #DESCRIPTION {
        grid-area: DESCRIPTION;
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
    }


    #FOLIO {
        grid-area: FOLIO;
        width: 100%;
        height: 150px;
        background-color: antiquewhite;
    }


    #CAROUSEL {
        grid-area: CAROUSEL;
        width: 100%;
        height: 700px;
        background-color: antiquewhite;
    }
}

/* ---------------------------------------------------------------------------------------*/






















































































/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 480px) and (max-width: 960px) {

    body {
        position: absolute;
        width: 100vw;
        height: 100vw;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        overflow: hidden;

    }


    .center-holder {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }


    .bc-yellow {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: rgb(255, 239, 66);
    }



    .grid-0-fixed {
        display: none;
    }


    .grid-0 {
        width: 100%;
        background-color: #2e2e2e;
        display: grid;
        padding-left: 30px;
        padding-right: 30px;
        grid-row-gap: 40px;
        grid-template-rows: 60px auto;
        grid-template-columns: 1fr;
        grid-template-areas: "  .  "
            " MAIN-AREA ";
    }



    .grid-0-2 {
        width: 100%;
        max-width: 1640px;
        position: relative;
        padding-bottom: 100px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #2e2e2e;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas: "."
            "MAIN-AREA";
    }


    .container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }


    .title-holder-desktop {
        display: none;
    }




    #mobile {
        grid-area: TITLE;
        width: 100%;
        height: auto;
        display: grid;
        grid-row-gap: 40px;
        grid-template-rows: auto auto;
        grid-template-areas: "HOME-ICON"
            "HOME-TEXT";
    }




    .three-holder {
        position: sticky;
        top: 100px;
        width: 100%;
        max-height: 100%;
        display: grid;
        grid-template-rows: 80px auto 30px;
        grid-row-gap: 40px;
        grid-template-areas: "HOME-ICON"
            "HOME-TEXT"
            "SOCIAL";
    }











    /* ---------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------*/
    #GRID-1 {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: "TITLE TITLE TITLE TITLE TITLE TITLE"
            "IMAGE IMAGE IMAGE IMAGE IMAGE IMAGE"
            "TITLE-2 TITLE-2 TITLE-2 TITLE-2 TITLE-2 TITLE-2"
            "TITLE-2 TITLE-2 TITLE-2 TITLE-2 TITLE-2 TITLE-2"
            "IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-3 IMAGE-3 IMAGE-3"
            "IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4";

    }

    /* ---------------------------------------------------------------------------------------*/




    /* ---------------------------------------------------------------------------------------*/
    #IMAGE {
        grid-area: IMAGE;
        width: 100%;
        height: 600px;
        display: grid;
        background-color: antiquewhite;
    }

    /* ---------------------------------------------------------------------------------------*/




    /* ---------------------------------------------------------------------------------------*/
    #IMAGE-2 {
        grid-area: IMAGE-2;
        width: 100%;
        height: 560px;
        display: grid;
        grid-template-columns: 15px 1fr 15px;
        grid-template-rows: 15px auto 15px;
        grid-template-areas: ". . ."
            ". CENTER-AREA ."
            ". . .";

    }

    #IMAGE-2-INTERNAL {
        grid-area: CENTER-AREA;
        width: auto;
        height: auto;
        display: grid;
        border-style: solid;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 20px auto 20px;
        border-width: 5px;
        border-radius: 10px;
        border-color: #EFEFEF;
    }

    /* ---------------------------------------------------------------------------------------*/




    /* ---------------------------------------------------------------------------------------*/
    #IMAGE-3 {
        grid-area: IMAGE-3;
        width: 100%;
        height: 560px;
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 20px auto 20px;
    }

    /* ---------------------------------------------------------------------------------------*/




    /* ---------------------------------------------------------------------------------------*/
    #IMAGE-4 {
        grid-area: IMAGE-4;
        width: 100%;
        height: 600px;
        display: grid;
        background-color: antiquewhite;
    }

    /* ---------------------------------------------------------------------------------------*/



    /* ---------------------------------------------------------------------------------------*/

    #TITLE {
        display: none;
    }





    #HOME {
        grid-area: "HOME";
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 70px;
        background-color: aliceblue;
        display: grid;
    }


    #HOME-TAG {
        background-image: url(..\assetts\Artboard 2.svg);
    }

    /* ---------------------------------------------------------------------------------------*/


    /* ---------------------------------------------------------------------------------------*/



    #TITLE-2 {
        grid-area: TITLE-2;
        display: grid;
        width: 100%;
        height: 100%;
        display: grid;

        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "TOP-IMAGE TOP-IMAGE HERO HERO HERO"
            "MID-IMAGE MID-IMAGE MID-IMAGE BOTTOM-IMAGE BOTTOM-IMAGE";
    }


    #TOP-IMAGE {
        grid-area: TOP-IMAGE;
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-image: url(assetts/images/uni-project-1/uni-project-1-image1.PNG);
        background-size: cover 100%;
        background-position: -400px -300px;
    }

    #HERO {
        grid-area: HERO;
        width: 100%;
        height: 300px;
        background-color: antiquewhite;
    }





        #MID-IMAGE {
            grid-area: MID-IMAGE;
            display: grid;
            width: 100%;
            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-row-gap: 20px;
            grid-template-areas: "TITLE"
                "IMAGE";
        }
    
        #STORIES {
            grid-area: IMAGE;
            background-color: rgb(166, 184, 190);
        }

    #BOTTOM-IMAGE {
        grid-area: BOTTOM-IMAGE;
        width: 100%;
        height: 300px;      
        background-repeat: no-repeat;
        background-image: url(assetts/images/tlc-2020-3.PNG);
        background-size: cover;
        background-position: -150px 0px;
    }


    #BANNER-1 {
        position: relative;
        grid-area: BANNER-1;
        width: 100%;
        height: 100%;
        background-color: aqua;
    }


    #BANNER-2 {
        position: relative;
        grid-area: BANNER-2;
        width: 100%;
        height: 100%;
        background-color: aqua;
    }

    /* ---------------------------------------------------------------------------------------*/







    /* ---------------------------------------------------------------------------------------*/
    #GRID-2 {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "DESCRIPTION"
            "VIDEO"
            "PFBD"
            "PFBD-2";
    }



    #VIDEO {
        grid-area: VIDEO;
        width: 100%;
        background-color: antiquewhite;
    }


    #DESCRIPTION {
        grid-area: DESCRIPTION;
        width: 100%;
        height: 150px;
        background-color: antiquewhite;
    }

    /* ---------------------------------------------------------------------------------------*/







    /* ---------------------------------------------------------------------------------------*/
    #GRID-3 {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO"
            ". . CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL"
            ". . CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL";
    }



    #VIDEO {
        grid-area: VIDEO;
        width: 100%;
        height: 340px;
        display: grid;
        background-color: antiquewhite;
    }


    #DESCRIPTION {
        grid-area: DESCRIPTION;
        width: 100%;
        height: 200px;
        background-color: antiquewhite;
    }


    #FOLIO {
        grid-area: FOLIO;
        width: 100%;
        height: 150px;
        background-color: antiquewhite;
    }


    #CAROUSEL {
        grid-area: CAROUSEL;
        width: 100%;
        height: 700px;
        background-color: antiquewhite;
    }
}

/* ---------------------------------------------------------------------------------------*/

























































@media all and (min-width: 0px) and (max-width: 480px) {


    body {
        position: absolute;
        width: 100vw;
        height: 100vw;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        overflow: hidden;

    }


    .center-holder {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }


    .bc-yellow {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: rgb(255, 239, 66);
    }




    .grid-0-fixed {
        display: none;
    }



    .grid-0 {
        width: 100%;
        background-color: #2e2e2e;
        display: grid;
        padding-left: 30px;
        padding-right: 30px;
        grid-row-gap: 40px;
        grid-template-rows: 60px auto;
        grid-template-columns: 1fr;
        grid-template-areas: " . "
            "MAIN-AREA";
    }


    .grid-0-2 {
        width: 100%;
        max-width: 1640px;
        position: relative;
        padding-bottom: 100px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #2e2e2e;
        display: grid;
        grid-row-gap: 40px;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas: "."
            "MAIN-AREA";
    }


    .container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }


    .title-holder-desktop {
        display: none;
    }


    #mobile {
        grid-area: TITLE;
        width: 100%;
        height: auto;
        display: grid;
        grid-row-gap: 40px;
        grid-template-rows: auto auto;
        grid-template-areas: "HOME-ICON"
            "HOME-TEXT";
    }


    .three-holder {
        position: sticky;
        top: 100px;
        width: 100%;
        max-height: 100%;
        display: grid;
        grid-template-rows: 80px auto 40px;
        grid-row-gap: 40px;
        grid-template-areas: "HOME-ICON"
            "HOME-TEXT"
            "SOCIAL";
    }
















    /* ---------------------------------------------------------------------------------------*/
    /* ---------------------------------------------------------------------------------------*/
    #GRID-1 {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: "TITLE"
            "IMAGE"
            "TITLE-2"
            "TITLE-2"
            "IMAGE-2"
            "IMAGE-3"
            "IMAGE-4";

    }

    /* ---------------------------------------------------------------------------------------*/




    /* ---------------------------------------------------------------------------------------*/
    #IMAGE {
        grid-area: IMAGE;
        width: 100%;
        height: 600px;
        display: grid;
        background-color: antiquewhite;
    }

    /* ---------------------------------------------------------------------------------------*/




    /* ---------------------------------------------------------------------------------------*/
    #IMAGE-2 {
        grid-area: IMAGE-2;
        width: 100%;
        height: 560px;
        display: grid;
        grid-template-columns: 15px 1fr 15px;
        grid-template-rows: 15px auto 15px;
        grid-template-areas: ". . ."
            ". CENTER-AREA ."
            ". . .";

    }


    #IMAGE-2-INTERNAL {
        grid-area: CENTER-AREA;
        width: auto;
        height: auto;
        display: grid;
        border-style: solid;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 20px auto 20px;
        border-width: 5px;
        border-radius: 10px;
        border-color: #EFEFEF;
    }

    /* ---------------------------------------------------------------------------------------*/




    /* ---------------------------------------------------------------------------------------*/
    #IMAGE-3 {
        grid-area: IMAGE-3;
        width: 100%;
        height: 560px;
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 20px auto 20px;
    }

    /* ---------------------------------------------------------------------------------------*/




    /* ---------------------------------------------------------------------------------------*/
    #IMAGE-4 {
        grid-area: IMAGE-4;
        width: 100%;
        height: 600px;
        display: grid;
        background-color: antiquewhite;
    }

    /* ---------------------------------------------------------------------------------------*/



    /* ---------------------------------------------------------------------------------------*/

    #TITLE {
        display: none;
    }

    #TITLE-MOBILE {
        grid-area: TITLE;
        width: 100%;
        height: 100%;
    }

    /* ---------------------------------------------------------------------------------------*/


    /* ---------------------------------------------------------------------------------------*/



    #TITLE-2 {
        grid-area: TITLE-2;
        display: grid;
        width: 100%;
        height: 100%;
        display: grid;

        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "TOP-IMAGE"
            "HERO"
            "MID-IMAGE"
            "BOTTOM-IMAGE";
    }


    #TOP-IMAGE {
        grid-area: TOP-IMAGE;
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-image: url(assetts/images/uni-project-1/uni-project-1-image1.PNG);
        background-size: cover 100%;
        background-position: -400px -300px;
        
    }

    #HERO {
        grid-area: HERO;
        width: 100%;
        height: 540px;
        background-color: antiquewhite;
    }


        #MID-IMAGE {
            grid-area: MID-IMAGE;
            display: grid;
            width: 100%;
            height: 300px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-row-gap: 20px;
            grid-template-areas: "TITLE"
                "IMAGE";
        }
    
        #STORIES {
            grid-area: IMAGE;
            background-color: rgb(166, 184, 190);
        }

    #BOTTOM-IMAGE {
        grid-area: BOTTOM-IMAGE;
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-image: url(assetts/images/tlc-2020-3.PNG);
        background-size: cover 150%;
        background-position: 0px 0px;
        
    }


    #BANNER-1 {
        position: relative;
        grid-area: BANNER-1;
        width: 100%;
        height: 100%;
        background-color: aqua;
    }


    #BANNER-2 {
        position: relative;
        grid-area: BANNER-2;
        width: 100%;
        height: 100%;
        background-color: aqua;
    }

    /* ---------------------------------------------------------------------------------------*/







    /* ---------------------------------------------------------------------------------------*/
    #GRID-2 {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "DESCRIPTION"
            "VIDEO"
            "PFBD"
            "PFBD-2";
    }



    #VIDEO {
        grid-area: VIDEO;
        width: 100%;

        background-color: antiquewhite;
    }


    #DESCRIPTION {
        grid-area: DESCRIPTION;
        width: 100%;
        height: 150px;
        background-color: antiquewhite;
    }

    /* ---------------------------------------------------------------------------------------*/







    /* ---------------------------------------------------------------------------------------*/
    #GRID-3 {
        grid-area: MAIN-AREA;
        width: 100%;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO"
            ". . CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL"
            ". . CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL";
    }



    #DESCRIPTION {
        grid-area: DESCRIPTION;
        width: 100%;
        height: 150px;
        background-color: antiquewhite;
    }


    #VIDEO {
        grid-area: VIDEO;
        width: 100%;
        height: 240px;
        display: grid;
        background-color: antiquewhite;
    }




    #FOLIO {
        grid-area: FOLIO;
        width: 100%;
        height: 150px;
        background-color: antiquewhite;
    }


    #CAROUSEL {
        grid-area: CAROUSEL;
        width: 100%;
        height: 700px;
        background-color: antiquewhite;
    }
}

/* ---------------------------------------------------------------------------------------*/

































































































/* ---------------------------------------------------------------------------------------*/
@media all and (max-width: 480px) {}

/* ---------------------------------------------------------------------------------------*/














/* ---------------------------------------------------------------------------------------*/
/* Portrait */
@media screen and (orientation:portrait) {}

/* ---------------------------------------------------------------------------------------*/












/* ---------------------------------------------------------------------------------------*/
/* Landscape */
@media screen and (orientation:landscape) {}

/* ---------------------------------------------------------------------------------------*/






/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {}






/*FONTS--------------------------------------------------------------------------------------*/

h1 {
    font-family: neusa-next-std-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10em;
    padding-bottom: 0px;
}


#FRONT-TEXT {
    grid-area: FRONT-TEXT;
    color: #EFEFEF;

}


#HERO-TEXT {
    grid-area: HERO-TEXT;
    color: #EFEFEF;
}


#DESCRIPTION-TEXT {
    grid-area: DESCRIPTION;
    color: #EFEFEF;
}