
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
body{
    position: absolute;
    width: 100vw;
    height: 100vw;
    display: flex;    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;

}


.center-holder {
    width: 100%;  
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #2e2e2e;
}


.bc-yellow {
    position: relative;
    top: -40px;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 239, 66);
}


.grid-0 {
    width: 100%;
    max-width: 1760px;
    background-color: #2e2e2e;
    display: grid;
    grid-column-gap: 40px; 
    grid-row-gap: 40px;
    grid-template-rows: 60px auto 0px;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: ". . ."
                         "BANNER-1 MAIN-AREA BANNER-2";
}



.grid-0-2 {
    position: relative;
    top: -40px;
    padding-bottom: 150px;
    width: 100%;
    max-width: 1760px;
    background-color: #2e2e2e;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: ". . ."
        "BANNER-1 MAIN-AREA BANNER-2";
}


.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
























/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/
#GRID-1 {
    grid-area: MAIN-AREA;
    width: 100%;   
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "TITLE TITLE TITLE-2 TITLE-2 IMAGE IMAGE IMAGE IMAGE"
                         "TITLE TITLE TITLE-2 TITLE-2 IMAGE-2 IMAGE-2 IMAGE-3 IMAGE-3"
                         "TITLE TITLE TITLE-2 TITLE-2 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4";
}
/* ---------------------------------------------------------------------------------------*/




/* ---------------------------------------------------------------------------------------*/
#IMAGE {
    grid-area: IMAGE;
    width: 100%;
    height: 640px;
    display: grid;
    background-color: antiquewhite;
}
/* ---------------------------------------------------------------------------------------*/




/* ---------------------------------------------------------------------------------------*/
#IMAGE-2 {
    grid-area: IMAGE-2;
    width: 100%;
    height: 560px;
    display: grid;
    background-color: antiquewhite;
}
/* ---------------------------------------------------------------------------------------*/



/* ---------------------------------------------------------------------------------------*/
#IMAGE-3 {
    grid-area: IMAGE-3;
    width: 100%;
    height: 560px;
    display: grid;
    background-color: antiquewhite;
}
/* ---------------------------------------------------------------------------------------*/




/* ---------------------------------------------------------------------------------------*/
#IMAGE-4 {
    grid-area: IMAGE-4;
    width: 100%;
    height: 640px;
    display: grid;
    background-color: antiquewhite;
}
/* ---------------------------------------------------------------------------------------*/



/* ---------------------------------------------------------------------------------------*/
#TITLE {
    grid-area: TITLE;
    position: sticky;
    top: 50px;
    width: 100%;
    height: 480px;
    display: grid;
    background-color: antiquewhite;
}
/* ---------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------*/
#TITLE-2 {
    grid-area: TITLE-2;
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
 
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 290px 1.5fr  1fr 290px;
    grid-template-areas: "TOP-IMAGE"
                         "HERO"
                         "MID-IMAGE"
                         "BOTTOM-IMAGE";
}


#TOP-IMAGE {
    grid-area: TOP-IMAGE;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

#HERO {
    grid-area: HERO;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}


#MID-IMAGE {
    grid-area: MID-IMAGE;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

#BOTTOM-IMAGE {
    grid-area: BOTTOM-IMAGE;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}


#BANNER-1 {
    position: relative;
    grid-area: BANNER-1;
    width: 100%;
    height: 100%;  
    background-color: aqua;
}


#BANNER-2 {
    position: relative;
    grid-area: BANNER-2;
    width: 100%;
    height: 100%;   
    background-color: aqua;
}
/* ---------------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------*/












/* ---------------------------------------------------------------------------------------*/
#GRID-2 {
    grid-area: MAIN-AREA;
    width: 100%;
    height: 600px;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO DESCRIPTION DESCRIPTION";
}



#VIDEO {
    grid-area: VIDEO;
    width: 100%;
    height: auto;
    display: grid;
    background-color: antiquewhite;
}


#DESCRIPTION {
    grid-area: DESCRIPTION;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}
/* ---------------------------------------------------------------------------------------*/







/* ---------------------------------------------------------------------------------------*/
#GRID-3 {
    grid-area: MAIN-AREA;
    width: 100%;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO";
}



#VIDEO {
    grid-area: VIDEO;
    width: 100%;
    height: auto;
    display: grid;
    background-color: antiquewhite;
}


#DESCRIPTION {
    grid-area: DESCRIPTION;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}


#FOLIO {
    grid-area: FOLIO;
    display: grid;
    width: 100%;
    height: auto;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "TITLE"
                         "FOLIO-GRID";   
    
}



#FOLIO-TITLE {
    grid-area: TITLE;
    width: 100%;
    height: 150px;
    background-color: antiquewhite;   
}

h1{
    font-family: 
}


#FOLIO-GRID {
    display: grid;
    grid-area: FOLIO-GRID;
    width: 100%;
    height: auto;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px auto;
    grid-template-areas: "PROJECT-1  PROJECT-1 PROJECT-2 PROJECT-2 PROJECT-3 PROJECT-3";
  
}


#PROJECT-1 {
    grid-area: PROJECT-1;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}


#PROJECT-2 {
    grid-area: PROJECT-2;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}


#PROJECT-3 {
    grid-area: PROJECT-3;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}
/* ---------------------------------------------------------------------------------------*/










































































/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

 /* ---------------------------------------------------------------------------------------*/
 /* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
    
    body {
        position: absolute;
        width: 100vw;
        height: 100vw;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    
        }
    
    
        .center-holder {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        }
    
    
        .bc-yellow {
        width: 100%;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: rgb(255, 239, 66);
        }
    
    
        .grid-0 {
        width: 100%;
        max-width: 1640px;
        background-color: #2e2e2e;
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-rows: 10px auto 10px;
        grid-template-columns: 50px 1fr 50px;
        grid-template-areas: ". . ."
        "BANNER-1 MAIN-AREA BANNER-2";
        }
    
    
        .container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }












        /* ---------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------*/
        #GRID-1 {
            grid-area: MAIN-AREA;
            width: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "TITLE TITLE TITLE-2 TITLE-2 IMAGE IMAGE IMAGE IMAGE"
                "TITLE TITLE TITLE-2 TITLE-2 IMAGE-2 IMAGE-2 IMAGE-3 IMAGE-3"
                "TITLE TITLE TITLE-2 TITLE-2 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4";
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE {
            grid-area: IMAGE;
            width: 100%;
            height: 600px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-2 {
            grid-area: IMAGE-2;
            width: 100%;
            height: 560px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
   
        
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-3 {
            grid-area: IMAGE-3;
            width: 100%;
            height: 560px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-4 {
            grid-area: IMAGE-4;
            width: 100%;
            height: 600px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #TITLE {
            grid-area: TITLE;
            position: sticky;
            top: 50px;
            width: 100%;
            height: 480px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
        /* ---------------------------------------------------------------------------------------*/
        #TITLE-2 {
            grid-area: TITLE-2;
            display: grid;
            width: 100%;
            height: 100%;
            display: grid;
    
            grid-row-gap: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: 290px 1.5fr 1fr 290px;
            grid-template-areas: "TOP-IMAGE"
                "HERO"
                "MID-IMAGE"
                "BOTTOM-IMAGE";
        }
    
    
        #TOP-IMAGE {
            grid-area: TOP-IMAGE;
            width: 100%;
            height: 100%;
            background-color: antiquewhite;
        }
    
        #HERO {
            grid-area: HERO;
            width: 100%;
            height: 100%;
            background-color: antiquewhite;
        }
    
    
        #MID-IMAGE {
            grid-area: MID-IMAGE;
            width: 100%;
            height: 100%;
            background-color: antiquewhite;
        }
    
        #BOTTOM-IMAGE {
            grid-area: BOTTOM-IMAGE;
            width: 100%;
            height: 100%;
            background-color: antiquewhite;
        }
    
    
        #BANNER-1 {
            position: relative;
            grid-area: BANNER-1;
            width: 100%;
            height: 100%;
            background-color: aqua;
        }
    
    
        #BANNER-2 {
            position: relative;
            grid-area: BANNER-2;
            width: 100%;
            height: 100%;
            background-color: aqua;
        }
    
        /* ---------------------------------------------------------------------------------------*/
       
    
    
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #GRID-2 {
            grid-area: MAIN-AREA;
            width: 100%;
            height: 500px;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: "VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO DESCRIPTION DESCRIPTION";
        }
    
    
    
        #VIDEO {
            grid-area: VIDEO;
            width: 100%;
            height: auto;
            display: grid;
            background-color: antiquewhite;
        }
    
    
        #DESCRIPTION {
            grid-area: DESCRIPTION;
            width: 100%;
            height: 100%;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #GRID-3 {
            grid-area: MAIN-AREA;
            width: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: "FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO"
                ". . CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL"
                ". . CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL";
        }
    
    
    
        #VIDEO {
            grid-area: VIDEO;
            width: 100%;
            height: auto;
            display: grid;
            background-color: antiquewhite;
        }
    
    
        #DESCRIPTION {
            grid-area: DESCRIPTION;
            width: 100%;
            height: 100%;
            background-color: antiquewhite;
        }
    
    
        #FOLIO {
            grid-area: FOLIO;
            width: 100%;
            height: 150px;
            background-color: antiquewhite;
        }
    
    
        #CAROUSEL {
            grid-area: CAROUSEL;
            width: 100%;
            height: 700px;
            background-color: antiquewhite;
        }
    }
 /* ---------------------------------------------------------------------------------------*/
 /* ---------------------------------------------------------------------------------------*/







































































/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 768px) and (max-width: 1024px) {
    body {
            position: absolute;
            width: 100vw;
            height: 100vw;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
    
        }
    
    
        .center-holder {
            width: 100%;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
    
    
        .bc-yellow {
            width: 100%;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            background-color: rgb(255, 239, 66);
        }
    
    
        .grid-0 {
            width: 100%;
            background-color: #2e2e2e;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-rows: 10px auto 10px;
            grid-template-columns: 10px 1fr 10px;
            grid-template-areas: " . . . "
                ". MAIN-AREA .";
        }
    
    
        .container {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
    
    
    
    
    
    
    
    
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------*/
        #GRID-1 {
            grid-area: MAIN-AREA;
            width: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "TITLE TITLE TITLE-2 TITLE-2 IMAGE IMAGE IMAGE IMAGE"
                "TITLE TITLE TITLE-2 TITLE-2 IMAGE-2 IMAGE-2 IMAGE-3 IMAGE-3"
                "TITLE TITLE TITLE-2 TITLE-2 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4";
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE {
            grid-area: IMAGE;
            width: 100%;
            height: 600px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-2 {
            grid-area: IMAGE-2;
            width: 100%;
            height: 560px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-3 {
            grid-area: IMAGE-3;
            width: 100%;
            height: 560px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-4 {
            grid-area: IMAGE-4;
            width: 100%;
            height: 600px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #TITLE {
            grid-area: TITLE;
            position: sticky;
            top: 50px;
            width: 100%;
            height: 480px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
        /* ---------------------------------------------------------------------------------------*/
       


        #TITLE-2 {
            grid-area: TITLE-2;
            display: grid;
            width: 100%;
            height: 100%;
            display: grid;       
            grid-row-gap: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: 290px 1.5fr 1fr 290px;
            grid-template-areas: "TOP-IMAGE"
                                 "HERO"
                                 "MID-IMAGE"
                                 "BOTTOM-IMAGE";
        }
    
    
        #TOP-IMAGE {
            grid-area: TOP-IMAGE;
            width: 100%;
            height:100%;
            background-color: antiquewhite;
        }
    
        #HERO {
            grid-area: HERO;
            width: 100%;
            height:100%;
            background-color: antiquewhite;
        }
    
    
        #MID-IMAGE {
            grid-area: MID-IMAGE;
            width: 100%;
            height:100%;
            background-color: antiquewhite;
        }
    
        #BOTTOM-IMAGE {
            grid-area: BOTTOM-IMAGE;
            width: 100%;
            height:100%;
            background-color: antiquewhite;
        }
    
    
        #BANNER-1 {
            position: relative;
            grid-area: BANNER-1;
            width: 100%;
            height: 100%;
            background-color: aqua;
        }
    
    
        #BANNER-2 {
            position: relative;
            grid-area: BANNER-2;
            width: 100%;
            height: 100%;
            background-color: aqua;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #GRID-2 {
            grid-area: MAIN-AREA;
            width: 100%;
            height: 500px;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: "VIDEO VIDEO VIDEO VIDEO VIDEO VIDEO DESCRIPTION DESCRIPTION";
        }
    
    
    
        #VIDEO {
            grid-area: VIDEO;
            width: 100%;
            height: auto;
            display: grid;
            background-color: antiquewhite;
        }
    
    
        #DESCRIPTION {
            grid-area: DESCRIPTION;
            width: 100%;
            height: 100%;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #GRID-3 {
            grid-area: MAIN-AREA;
            width: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: "FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO"
                ". . CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL"
                ". . CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL";
        }
    
    
    
        #VIDEO {
            grid-area: VIDEO;
            width: 100%;
            height: auto;
            display: grid;
            background-color: antiquewhite;
        }
    
    
        #DESCRIPTION {
            grid-area: DESCRIPTION;
            width: 100%;
            height: 100%;
            background-color: antiquewhite;
        }
    
    
        #FOLIO {
            grid-area: FOLIO;
            width: 100%;
            height: 150px;
            background-color: antiquewhite;
        }
    
    
        #CAROUSEL {
            grid-area: CAROUSEL;
            width: 100%;
            height: 700px;
            background-color: antiquewhite;
        }
}
/* ---------------------------------------------------------------------------------------*/





















































































/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 480px) and (max-width: 768px) {

    body {
            position: absolute;
            width: 100vw;
            height: 100vw;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
    
        }
    
    
        .center-holder {
            width: 100%;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
    
    
        .bc-yellow {
            width: 100%;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            background-color: rgb(255, 239, 66);
        }
    
    
        .grid-0 {
            width: 100%;
            background-color: #2e2e2e;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-rows: 10px auto 10px;
            grid-template-columns: 10px 1fr 10px;
            grid-template-areas: " . . . "
                                 ". MAIN-AREA .";
        }
    
    
        .container {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
        }
    
    
    
    
    
    
    
    
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        /* ---------------------------------------------------------------------------------------*/
        #GRID-1 {
            grid-area: MAIN-AREA;
            width: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto 
                                auto
                                auto 
                                auto 
                                auto 
                                auto 
                                auto                                 
                                auto;
            grid-template-areas: "TITLE TITLE TITLE TITLE TITLE TITLE"
                                 "IMAGE IMAGE IMAGE IMAGE IMAGE IMAGE"
                                 "TITLE-2 TITLE-2 TITLE-2 TITLE-2 TITLE-2 TITLE-2" 
                                 "TITLE-2 TITLE-2 TITLE-2 TITLE-2 TITLE-2 TITLE-2"
                                 "IMAGE-2 IMAGE-2 IMAGE-2 IMAGE-3 IMAGE-3 IMAGE-3"
                                 "IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4";
                
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE {
            grid-area: IMAGE;
            width: 100%;
            height: 600px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-2 {
            grid-area: IMAGE-2;
            width: 100%;
            height: 560px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-3 {
            grid-area: IMAGE-3;
            width: 100%;
            height: 560px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #IMAGE-4 {
            grid-area: IMAGE-4;
            width: 100%;
            height: 600px;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #TITLE {
            grid-area: TITLE;
            width: 100%;
            height: auto;
            display: grid;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
        /* ---------------------------------------------------------------------------------------*/
        


        #TITLE-2 {
            grid-area: TITLE-2;
            display: grid;
            width: 100%;
            height: 100%;
            display: grid;
        
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: "TOP-IMAGE HERO HERO"
                        "MID-IMAGE MID-IMAGE BOTTOM-IMAGE";
        }
    
    
        #TOP-IMAGE {
            grid-area: TOP-IMAGE;
            width: 100%;
            height: 300px;
            background-color: antiquewhite;
        }
    
        #HERO {
            grid-area: HERO;
            width: 100%;
            height: 300px;
            background-color: antiquewhite;
        }
    
    
        #MID-IMAGE {
            grid-area: MID-IMAGE;
            width: 100%;
            height: 300px;
            background-color: antiquewhite;
        }
    
        #BOTTOM-IMAGE {
            grid-area: BOTTOM-IMAGE;
            width: 100%;
            height: 300px;
            background-color: antiquewhite;
        }
    
    
        #BANNER-1 {
            position: relative;
            grid-area: BANNER-1;
            width: 100%;
            height: 100%;
            background-color: aqua;
        }
    
    
        #BANNER-2 {
            position: relative;
            grid-area: BANNER-2;
            width: 100%;
            height: 100%;
            background-color: aqua;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #GRID-2 {
            grid-area: MAIN-AREA;
            width: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: auto 
                                auto;
            grid-template-areas:"DESCRIPTION"
                                "VIDEO";
        }
    
    
    
        #VIDEO {
            grid-area: VIDEO;
            width: 100%;
            background-color: antiquewhite;
        }
    
    
        #DESCRIPTION {
            grid-area: DESCRIPTION;
            width: 100%;
            height: 150px;
            background-color: antiquewhite;
        }
    
        /* ---------------------------------------------------------------------------------------*/
    
    
    
    
    
    
    
        /* ---------------------------------------------------------------------------------------*/
        #GRID-3 {
            grid-area: MAIN-AREA;
            width: 100%;
            display: grid;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: "FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO FOLIO"
                ". . CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL"
                ". . CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL CAROUSEL";
        }
    
    
    
        #VIDEO {
            grid-area: VIDEO;
            width: 100%;
            height: auto;
            display: grid;
            background-color: antiquewhite;
        }
    
    
        #DESCRIPTION {
            grid-area: DESCRIPTION;
            width: 100%;
            height: 100%;
            background-color: antiquewhite;
        }
    
    
        #FOLIO {
            grid-area: FOLIO;
            width: 100%;
            height: 150px;
            background-color: antiquewhite;
        }
    
    
        #CAROUSEL {
            grid-area: CAROUSEL;
            width: 100%;
            height: 700px;
            background-color: antiquewhite;
        }
    }
/* ---------------------------------------------------------------------------------------*/


































































































/* ---------------------------------------------------------------------------------------*/
@media all and (max-width: 480px) {

  
}
/* ---------------------------------------------------------------------------------------*/














/* ---------------------------------------------------------------------------------------*/
/* Portrait */
@media screen and (orientation:portrait) {   }
/* ---------------------------------------------------------------------------------------*/












/* ---------------------------------------------------------------------------------------*/
/* Landscape */
@media screen and (orientation:landscape) {   }
/* ---------------------------------------------------------------------------------------*/






/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {  }

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) { }

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {

   

}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {

    

}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {

   

}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {

  

}