

/* ---------------------------------------------------------------------------------------*/
body{
    position: absolute;
    width: 100vw;
    height: 100vw;
    display: flex;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;

}


.center-holder {
    width: 100%;  
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}


.grid-0 {
    width: 100%;
    max-width: 1280px;
    height: auto;
    background-color: #2e2e2e;
    display: grid;
    grid-column-gap: 40px;
   
    grid-row-gap: 40px;
    grid-template-rows: 60px auto 60px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas: ". . ."
                         ". MAIN-AREA ."   ;
}
/* ---------------------------------------------------------------------------------------*/






/* ---------------------------------------------------------------------------------------*/
#GRID-1 {
    grid-area: MAIN-AREA;
    width: 100%;   
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "TITLE TITLE TITLE-2 TITLE-2 IMAGE IMAGE IMAGE IMAGE"
                         "TITLE TITLE TITLE-2 TITLE-2 IMAGE-2 IMAGE-2 IMAGE-3 IMAGE-3"
                         "TITLE TITLE TITLE-2 TITLE-2 IMAGE-4 IMAGE-4 IMAGE-4 IMAGE-4";


}
    



#GRID-2 {
    width: 100%;
    display: grid;
}

/* ---------------------------------------------------------------------------------------*/








/* ---------------------------------------------------------------------------------------*/
#IMAGE {
    grid-area: IMAGE;
    width: 100%;
    height: 470px;
    display: grid;
    background-color: antiquewhite;
}
/* ---------------------------------------------------------------------------------------*/




/* ---------------------------------------------------------------------------------------*/
#IMAGE-2 {
    grid-area: IMAGE-2;
    width: 100%;
    height: 470px;
    display: grid;
    background-color: antiquewhite;
}
/* ---------------------------------------------------------------------------------------*/



/* ---------------------------------------------------------------------------------------*/
#IMAGE-3 {
    grid-area: IMAGE-3;
    width: 100%;
    height: 470px;
    display: grid;
    background-color: antiquewhite;
}
/* ---------------------------------------------------------------------------------------*/




/* ---------------------------------------------------------------------------------------*/
#IMAGE-4 {
    grid-area: IMAGE-4;
    width: 100%;
    height: 470px;
    display: grid;
    background-color: antiquewhite;
}
/* ---------------------------------------------------------------------------------------*/



/* ---------------------------------------------------------------------------------------*/
#TITLE {
    grid-area: TITLE;
    position: sticky;
    top: 100px;
    width: 100%;
    height: 470px;
    display: grid;
    background-color: antiquewhite;
}
/* ---------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------*/
#TITLE-2 {
    grid-area: TITLE-2;
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    background-color: antiquewhite;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr  1fr 300px;
    grid-template-areas: "TOP-IMAGE"
                         "HERO"
                         "."
                         "BOTTOM-IMAGE";
}

/* ---------------------------------------------------------------------------------------*/











/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */


 /* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
    
    .section-container{
        width: 100%;
        height: 400px;
        background-color: #2e2e2e;
    }

}
/* ---------------------------------------------------------------------------------------*/











/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 768px) and (max-width: 1024px) {

    .section-container {
        width: 100%;
        height: 400px;
        background-color: #2e2e2e;
    }

}
/* ---------------------------------------------------------------------------------------*/











/* ---------------------------------------------------------------------------------------*/
@media all and (min-width: 480px) and (max-width: 768px) {

    .section-container {
        width: 100%;
        height: 400px;
        background-color: #2e2e2e;
    }

}
/* ---------------------------------------------------------------------------------------*/









/* ---------------------------------------------------------------------------------------*/
@media all and (max-width: 480px) {

    .section-container {
        width: 100%;
        height: 400px;
        background-color: #2e2e2e;
    }

}
/* ---------------------------------------------------------------------------------------*/














/* ---------------------------------------------------------------------------------------*/
/* Portrait */
@media screen and (orientation:portrait) {

    .section-container {
        width: 100%;
        height: 400px;
        background-color: #2e2e2e;
    }       

}
/* ---------------------------------------------------------------------------------------*/












/* ---------------------------------------------------------------------------------------*/
/* Landscape */
@media screen and (orientation:landscape) {

    .section-container {
        width: 100%;
        height: 400px;
        background-color: #2e2e2e;
    }
    
}
/* ---------------------------------------------------------------------------------------*/






/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {

    .section-container {
        width: 100%;
        height: 400px;
        background-color: #2e2e2e;
    }

}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

    .section-container {
        width: 100%;
        height: 400px;
        background-color: #2e2e2e;
    }

}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {

    .section-container {
        width: 100%;
        height: 400px;
        background-color: #2e2e2e;
    }

}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {

    .section-container {
        width: 100%;
        height: 400px;
        background-color: #2e2e2e;
    }

}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {

    .section-container {
        width: 100%;
        height: 400px;
        background-color: #2e2e2e;
    }

}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {

    .section-container {
        width: 100%;
        height: 400px;
        background-color: #2e2e2e;
    }

}